* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --body-color: #f3f4f6;
  --primary-color: #0369a1;
  --secondary-color: #e2e8f0;
  --card-color: #fff;
  --poppins-family: "Poppins";
  --lato-family: "Lato";
  --font-legend-color: #374151;
}

body {
  background-color: var(--body-color);
}

.hero {
  background-color: var(--primary-color);
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.hero-title {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  color: var(--secondary-color);
  font-family: var(--poppins-family), sans-serif;
  font-weight: 700;
}

.container {
  margin-top: 2rem;
}

.container-card {
  font-family: var(--lato-family);
  margin: 0 auto;
  margin-top: 4rem;
}

.card {
  background-color: var(--card-color);
  border-radius: 12px;
}

.width-form {
  max-width: 60vw;
}

.form-post {
  margin: 0 auto;
}

.shadow {
  box-shadow: 3px 1.8px 5px rgba(0, 0, 0, 0.045),
    24px 14px 40px rgba(0, 0, 0, 0.09);
}

form {
  padding: 2rem;
  font-family: var(--lato-family), sans-serif;
}

form legend {
  font-size: clamp(1.6rem, 2vw, 2.5rem);
  margin-bottom: 2rem;
  font-weight: 600;
  font-family: var(--poppins-family), sans-serif;
  color: var(--font-legend-color);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form label {
  font-size: clamp(1.2rem, 1.2vw, 1.4rem);
  padding-bottom: 0.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.form input {
  border: none;
  border-bottom: 1px solid;
  padding: 0.3rem 0;
  font-size: max(0.8rem, 0.9rem);
}

.form input:focus {
  outline: none;
}

.form-btn {
  margin-top: 2rem;
}

.btn {
  padding: 0.8rem 1.2rem;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 400;
  font-size: clamp(0.8rem, 1.5vw, 0.9rem);
  border: none;
}

.btn:hover {
  background-color: #075985;
  color: #cbd5e1;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.container-card h3 {
  font-weight: 600;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  color: var(--font-legend-color);
}

.p {
  padding: 3rem;
}

.btn-act {
  background-size: contain;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: var(--card-color);
}

.check-button {
  background-image: url("../img/check.svg");
}

.check-button:hover {
  background-image: url("../img/check-solid.svg");
}

.trash-button {
  background-image: url("../img/trash.svg");
}

.trash-button:hover {
  background-image: url("../img/trash-solid.svg");
}

.recycle-button {
  background-image: url("../img/recycle.svg");
}

.card-post {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.wrapper-search {
  margin-top: 3rem;
  max-width: 40vw;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search label {
  font-size: clamp(1.3rem, 1.5vw, 2rem);
  margin-right: 0.5rem;
}

.search input {
  border-radius: 4px;
  border: 1px solid;
  font-family: var(--lato-family), sans-serif;
  height: 2rem;
  font-size: 1rem;
  flex: 2;
}
